:root {
    --black: #222831;
    --lighter-black: #31363f;
    --cyan: #76ABAE;
    --dirty-white: #EEEEEE;
    --side-bar-w: 200px;
    --todo-btn-geometry: 16px;
    --todo-btn-w: 20px;
    --todo-btn-hover-color: cyan;
    --todo-checkbox-geometry: 15px;
    --todo-item-gap: 10px;
    --project-delete-btn-size: 12px;
}

html,
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--lighter-black);
    color: var(--dirty-white);
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: var(--side-bar-w) 1fr;
    grid-template-rows: 80px 1fr;
}

.header {
    background: var(--black);
    grid-column: span 2;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    box-shadow: inset 0px -3px 5px -4px rgb(255, 255, 255);
}

.side-bar button {
    margin: 2px 10px;
    font-weight: 100;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    user-select: none;
    width: calc(var(--side-bar-w) - 20px);
    text-align: left;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.side-bar {
    margin-top: 10px;
    border-right: 1px solid var(--black);
}

.nav-list-filter .active {
    filter: brightness(0.9);
    font-weight: 500;
}

.side-bar button:hover:not(.active) {
    filter: brightness(0.9);
}

.side-bar button:active:not(.active) {
    transform: translate(-1px, -1px);
}

.project-header {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0px 10px 20px;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.content {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    width: 600px;
    background-color: var(--black);
    margin: 5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns:
        var(--todo-checkbox-geometry) 1fr 74px var(--todo-btn-w) var(--todo-btn-w);
    padding: 10px 15px;
    gap: var(--todo-item-gap);
}

.task * {
    background-color: transparent;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.task .due-date {
    font-size: 14px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.edit-btn,
.delete-btn {
    border: none;
    background: transparent;
}

.edit-btn svg,
.delete-btn svg {
    width: var(--todo-btn-geometry);
    height: var(--todo-btn-geometry);
    transition: all 600ms;
}

.delete-btn svg {
    fill: var(--dirty-white);
}

.edit-btn svg {
    stroke: var(--dirty-white);
    fill: transparent;
}

.delete-btn svg:hover {
    fill: var(--todo-btn-hover-color);
}

.edit-btn svg:hover {
    stroke: var(--todo-btn-hover-color);
}

.delete-btn svg:active,
.edit-btn svg:active {
    transform: scale(1.4);
}

.due-date:active {
    transform: scale(1.02);
}

.add-btn {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    border: none;
    background-color: var(--black);
    cursor: pointer;
}

input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

input[type="checkbox"]+label {
    position: relative;
}

input[type="checkbox"]+label::before {
    content: '';
    width: var(--todo-checkbox-geometry);
    height: var(--todo-checkbox-geometry);
    position: absolute;
    top: 1px;
    left: calc(calc(var(--todo-checkbox-geometry) + var(--todo-item-gap)) * -1);
    background: white;
    border: 1px solid white;
    border-radius: 3px;
}

input[type="checkbox"]:checked+label::before {
    content: '\002714';
    font-size: 11px;
    font-weight: 100;
    background-color: var(--lighter-black);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:checked~.due-date {
    text-decoration: line-through;
    color: gray;
}

.add-project-btn {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: gray;
    transition: all 500ms;
}

.add-project-btn::before {
    color: gray;
    content: '\002b';
    font-size: 22px;
    margin-right: 8px;
    transition: all 500ms;
}

.add-project-btn:hover {
    color: cyan;
}

.add-project-btn:hover::before {
    color: cyan;
}

.add-project-input {
    display: grid;
    grid-template-areas:
        "name-input name-input"
        "add-button cancel-button";
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

.add-project-input input {
    grid-area: name-input;
    border: 1px solid gray;
    width: 90%;
    justify-self: center;
    align-self: center;
    height: 40px;
    padding: 5px 10px;
    border-radius: 18px;
}

.add-project-input input:focus {
    outline: 1px solid #76ABAE;
}

.add-project-input .add-button {
    grid-area: add-button;
    background-color: rgb(47, 182, 141);
}

.add-project-input .cancel-button {
    grid-area: cancel-button;
    background-color: rgb(201, 57, 57);
}

.add-project-input button {
    width: 90%;
    padding: 10px 0;
    text-align: center;
}

.hide-element {
    display: none;
}


.nav-list-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.project-container {
    height: 20px;
    width: 180px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
}

.project-container .project-name {
    width: 148px;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    padding: 10px 0px 10px 10px;
    margin: 2px 10px 2px 0px;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-wrap: nowrap;
}

.project-container .delete-project-btn {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 1;
    width: var(--project-delete-btn-size);
    height: inherit;
}

.delete-project-btn svg {
    width: var(--project-delete-btn-size);
    height: var(--project-delete-btn-size);
    transition: all 600ms;
    margin: 0;
    padding: 0;
}

.delete-project-btn svg {
    fill: var(--dirty-white);
}

.delete-project-btn svg:hover {
    fill: var(--todo-btn-hover-color);
}

.delete-project-btn svg:active {
    transform: scale(1.4);
}
